@import "normalize";
@import "variables";
@import "mixin";
@import "grid";
// @import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,700');
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9fdm3d');
  src:  url('../fonts/icomoon.eot?9fdm3d#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9fdm3d') format('truetype'),
    url('../fonts/icomoon.woff?9fdm3d') format('woff'),
    url('../fonts/icomoon.svg?9fdm3d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-pinterest:before {
  content: "\ead1";
}


html body{
	font-family: 'Open Sans', sans-serif;
	color:  rgba(96, 96, 110, 0.5);
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	line-height: 1.5;
}

//Header

.first-sec{
	padding-top: 20px;
	background: url(../img/sec1-bg.png) no-repeat 50% 50%;
	background-size: cover;
}

.logo-padd{
	padding-top: 15px;
}

.open > .dropdown-menu{
	min-width: 0;
	text-transform: uppercase;
	
	>li>a{
		font-family: 'OpenSans';
		color: #9a9a9a;
		&:hover{
			color: red;
		}
	}
}

.first-sec-text{
	padding-top: 155px;
	padding-bottom: 147px;
	color: #60606e;
	font-family: 'Montserrat';
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	h2{	
		font-size: 36px;
		line-height: 1.3;
	}

	p{
		line-height: 3.4;
	}
}

.first-sec{
	.col-md-offset-4{
		margin-left: 420px;
	}
}

// Section two
.some_h{
	position: relative;
	display: inline-block;
	color: #60606e;
	font-family: 'Montserrat';
	font-size: 30px;
	font-weight: 700;
	line-height: 1.6;
	text-transform: uppercase;

	&:after{
		position: absolute;
		display: block;
		content: "";
		top: 50%;
	    z-index: -1;
	    width: 6.8rem;
	    height: 2.1rem;
	    background: #7beec7;
	}
}

header .nav {
    padding-top: 0;
}

.some_p{
	font-size: 18px;
	color: #60606e;
	font-weight: 700;
	line-height: 1.7;
	text-transform: uppercase;
}

.some_text{
	line-height: 2.14;
}

.two-sec{
	padding-top: 60px;
}

.sec-text-center{
	padding-top: 60px;
	text-align: center;
}

.pic__text{
	padding: 25px 0 10px 0;
	img{
		display: inline-block;
	}
	.some_p{
		padding-left: 15px;
		display: inline-block;
	}
}

.row-padding-top{
	padding-top: 30px;
}

.row-padding-bottom{
	padding-bottom: 60px;
}

// Section three 
.row-sec3-bg{
	overflow: hidden;
	margin-top: 20px;
	background-color:  rgba(96, 96, 110, 0.1);
	.some_text{
		margin: 50px 0;
		font-size: 18px;
		line-height: 2.6;
		font-style: italic;
	}
}

.row-sec3-bg .col-xs-3{
	width: 17.5%;
	padding-top: 50px;
}

.btn-size{
	width: 97.35%;
	padding: 0;
	// padding: 0 3.84rem;
	background-color:  #7beec7;
	font-family: 'Montserrat';
	color:  #ffffff;
	font-weight: 700;
	line-height: 3.6;
	text-transform: uppercase;
	border: none;
	outline: 1px #7beec7 solid;
	transition: all .3s ease;

	&:hover{
		background-color:  #ffffff;
		outline: 1px #7beec7 solid;
		color:  #7beec7;
		box-shadow: 0 0 10px rgba(0,0,0,.2);
	}
	&:focus{
		outline: 1px red solid;
	}

	&:active{
		color: red;
		outline: 1px red solid;
	}
}

.row-padding-top2{
	padding-top: 100px;
}

.btn-little{
	width: 91.04%;
	line-height: 2.14;
}

.padding-top-little{
	padding-top: 15px;
}

.padding-top-pic{
	.col-md-4{
		padding: 15px;
	}
}

.padding-bottom{
	padding-bottom: 30px;
}

#carouselExampleIndicators 
.carousel-indicators{
	bottom: 0;
	left: 10%;
	width: 70%;
	margin: 0;
	.active {
	    width: 31px;
	    height: 5px;
	    margin: 0;
	    background: #7beec7;
	}
	li{
		background:#60606e;
	    width: 16px;
	    height: 5px;
	    margin: 0;
	    border: none;
	}
}

// four-sec
.four-sec-container{
	padding-bottom: 50px;
	background: #7beec7;
	background-size: cover;
	font-family: 'Montserrat';
	font-weight: 700;
	transition: all .3s ease;
}

.four-sec-lrow{
	padding-top: 50px;
	text-transform: uppercase;
	
	.four-sec-lside{
		color:  #ffffff;
		font-size: 30px;
		line-height: 2;
	}
}

.four-sec_lbtn{
	padding: 0.5px 31.2px;
	background-color:  #ffffff;
	color:  #7beec7;
	font-size: 14px;
	line-height: 3.3;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px #ffffff solid;
	outline: none;
	&:hover{
		background-color: #7beec7;
		border: 1px #ffffff solid;
		color:  #ffffff;
		box-shadow: 0 0 10px rgba(0,0,0,.2);
	}
	&:focus{
		border: 1px red solid;
	}

	&:active{
		color: red;
		border: 1px red solid;
	}
}

.four-sec-rside{
	padding-bottom: 20px;
	background: #fff;
	line-height: 1.5;
	
	.four_sec_rside_h{
		color: #60606e;
		font-size: 24px;
		line-height: 1.5;
	}
	.four_sec_rside_text{
		font-family: 'OpenSans';
		color: #999999;
		font-size: 16px;
		font-weight: 400;
		text-transform: none;
	} 
}

.four-sec-rside-btn{
	font-family: 'Montserrat';
	font-weight: 700;
	
	input{
		padding: 13.5px 15px;
		// max-width: 355px;
		width: 67.62%;
		border: 1px #e5e5e5 solid;
		outline: none;
		color: #000;
		&:hover{
			background-color:  #ffffff;
			border: 1px #7beec7 solid;
			box-shadow: 0 0 10px rgba(0,0,0,.2);
		}
	}

	.four-sec-btn{
		background-color:  #7beec7;
		padding: 0.5px 46.4px;
		color: #ffffff;
		line-height: 3.4;
		text-transform: uppercase;
		outline: none;
		border: 1px #7beec7 solid;
		&:hover{
			background-color:  #ffffff;
			border: 1px #7beec7 solid;
			color:  #7beec7;
			box-shadow: 0 0 10px rgba(0,0,0,.2);
		}
		&:focus{
			border: 1px red solid;
		}

		&:active{
			color: red;
			border: 1px red solid;
		}
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 	font-size: 12px;
	line-height: 4;
	color:  #cdcdcd;
	text-transform: uppercase;
}

// footer
footer{
	padding-bottom: 30px;
}

.nav{
	float: left;
	padding-top: 30px;
}

.nav > li > a{
	font-family: 'OpenSans';
	color: #9a9a9a;
	text-transform: uppercase;
	
	&:hover{
		color: red;
	}
}

.nav-after li:after{
	position: absolute;
	content: '-';
	top: 20%;
	right: -3px;
	z-index: 10;
}

.nav-after li:last-child:after{
	content: '';
}

.footer-rside{
	padding-top: 30px;
	padding-right: 0;
	font-family: 'OpenSans';
	color: #9a9a9a;
	text-transform: uppercase;

	p{
		padding-top: 10px;
	}
}

.social ul li{
	display: inline-block;
	padding-top: 15px;
	list-style: none;
	&:last-child{
		padding-right: 0;
	}

	a{
		padding: 10px 10px;
		text-decoration: none;
		color: #999999;
		font-size: 18px;
		
		&:hover,
		&:focus{
			color:  #7beec7;
			transition: all .3s ease;
		}
		&:active{
			color: red;
		}
	}
}

//Medium devices
@media (max-width: 992px) {
	
	.sec-text-center{
		padding-top: 30px;
	}

	.row-padding-bottom{
		padding-bottom: 40px;
	}
	
	.first-sec{
	.col-md-offset-4{
		margin-left: 350px;
	}
}

	.padding-top-pic .col-md-4{
		padding: 10px;
	}


	.four-sec-lside	p{
		font-size: 26px;
		line-height: 1.5;
	}

	.four_sec_rside_h{
		margin-top: 0;
	}

	.btn-little{
		width: 100%;
	}

	.footer-rside{
		text-align: right;

		p{
			margin: 0;
		}
	}
}

//Small devices
@media (max-width: 768px) {
	
	.first-sec-text{
		padding-top: 65px;
		padding-bottom: 67px;
		h2{
			font-size: 28px;
		} 
	}
	
	.first-sec
	.col-md-offset-4{
		margin-left: 280px;
	}

	.some_h{
		font-size: 24px;
	}

	.two-sec{
		padding-top: 20px;
	}
	
	.some_p{
		padding: 0;
		font-size: 14px
	}

	.media-padd{
		.some_p{
			padding: 0;
		}
	}
	
	.three-sec{
		.row-padding-bottom{
			padding: 20px;
		}
	}

	.row-sec3-bg{
		.some_text{
			font-size: 14px;
		}
	}

	.padding-top-pic .col-md-4{
		padding: 5px;
	}

	#carouselExampleIndicators 
	.carousel-indicators{
		left: 14%;
	}
	
	.four-sec-container{
		padding-bottom: 15px;
	}

	.four-sec-lrow{
		padding-top: 15px;
	}

	.four-sec-lside p{
		font-size: 20px;
	}
	
	.four-sec-rside 
	.four_sec_rside_h{
		font-size: 20px;
	}

	.four_sec_rside_text{
		font-size: 14px;
	}

	.four-sec-rside-btn input{
		width: 100%;
	}

	.four-sec-btn{
		margin-top: 10px;
	}

	.nav > li > a{
		font-size: 12px;
	}

	.footer-rside{
		font-size: 12px;
	}
}