/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,700");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/** Grid variables **/
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.full-container {
  width: 100%;
  padding: 0 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: '';
  display: table;
  clear: both;
}

[class*="col-"],
[class^="col-"] {
  float: left;
  padding: 0 15px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-offset-2 {
  margin-left: 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

/* img responsive*/
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=_grid.css.map */
a, button {
  transition: all 0.5s ease;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?9fdm3d");
  src: url("../fonts/icomoon.eot?9fdm3d#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?9fdm3d") format("truetype"), url("../fonts/icomoon.woff?9fdm3d") format("woff"), url("../fonts/icomoon.svg?9fdm3d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-pinterest:before {
  content: "\ead1";
}

html body {
  font-family: 'Open Sans', sans-serif;
  color: rgba(96, 96, 110, 0.5);
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

.first-sec {
  padding-top: 20px;
  background: url(../img/sec1-bg.png) no-repeat 50% 50%;
  background-size: cover;
}

.logo-padding {
  padding-top: 15px;
}

.open > .dropdown-menu {
  min-width: 0;
  text-transform: uppercase;
}
.open > .dropdown-menu > li > a {
  font-family: 'OpenSans';
  color: #9a9a9a;
}
.open > .dropdown-menu > li > a:hover {
  color: red;
}

.first-sec-text {
  padding-top: 155px;
  padding-bottom: 147px;
  color: #60606e;
  font-family: 'Montserrat';
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.first-sec-text h2 {
  font-size: 36px;
  line-height: 1.3;
}
.first-sec-text p {
  line-height: 3.4;
}

.first-sec .col-md-offset-4 {
  margin-left: 35%;
}

.some_h {
  position: relative;
  display: inline-block;
  color: #60606e;
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
}
.some_h:after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  z-index: -1;
  width: 6.8rem;
  height: 2.1rem;
  background: #7beec7;
}

header .nav {
  padding-top: 0;
}

.some_p {
  font-size: 18px;
  color: #60606e;
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;
}

.some_text {
  line-height: 2.14;
}

.two-sec {
  padding-top: 60px;
}

.sec-text-center {
  padding-top: 60px;
  text-align: center;
}

.pic__text {
  padding: 25px 0 10px 0;
}
.pic__text img {
  display: inline-block;
}
.pic__text .some_p {
  padding-left: 15px;
  display: inline-block;
}

.row-padding-top {
  padding-top: 30px;
}

.row-padding-bottom {
  padding-bottom: 60px;
}

.row-sec3-bg {
  overflow: hidden;
  margin-top: 20px;
  background-color: rgba(96, 96, 110, 0.1);
}
.row-sec3-bg .some_text {
  margin: 50px 0;
  font-size: 18px;
  line-height: 2.6;
  font-style: italic;
}

.row-sec3-bg .col-sm-3 {
  width: 17.5%;
  padding-top: 50px;
}

.back_side {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.btn-size {
  width: 97.35%;
  padding: 0;
  background-color: #7beec7;
  font-family: 'Montserrat';
  color: #ffffff;
  font-weight: 700;
  line-height: 3.6;
  text-transform: uppercase;
  border: none;
  outline: 1px #7beec7 solid;
  transition: all .3s ease;
}
.btn-size:hover {
  background-color: #ffffff;
  outline: 1px #7beec7 solid;
  color: #7beec7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn-size:focus {
  outline: 1px red solid;
}
.btn-size:active {
  color: red;
  outline: 1px red solid;
}

.row-padding-top2 {
  padding-top: 100px;
}

.btn-little {
  width: 91.04%;
  line-height: 2.14;
}

.padding-top-little {
  padding-top: 15px;
}

.padding-top-pic .col-md-4 {
  padding: 15px;
}

.padding-bottom {
  padding-bottom: 30px;
}

#carouselExampleIndicators
.carousel-indicators {
  bottom: 0;
  left: 10%;
  width: 70%;
  margin: 0;
}
#carouselExampleIndicators
.carousel-indicators .active {
  width: 31px;
  height: 5px;
  margin: 0;
  background: #7beec7;
}
#carouselExampleIndicators
.carousel-indicators li {
  background: #60606e;
  width: 16px;
  height: 5px;
  margin: 0;
  border: none;
}

.wrapper_img > div {
  transform-style: preserve-3d;
  transition: .4s ease-in;
  transition-property: transform;
}

.front_side {
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.back_side {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 15px;
  background: #7beec7;
  width: 89.75%;
  height: 100%;
  color: #000;
}
.back_side h1 {
  text-align: center;
  margin-top: 50%;
}

.wrapper_img {
  position: absolute;
  perspective: 1000px;
  cursor: pointer;
}
.wrapper_img:hover .front_side {
  transform: rotateY(-180deg);
}
.wrapper_img:hover .back_side {
  transform: rotateY(0deg);
}

.img_shadow {
  padding-top: 10px;
}
.img_shadow img {
  border-radius: 50%;
}
.img_shadow img:hover {
  box-shadow: 0 0 30px #7beec7;
  opacity: 0.9;
  transition: all .2s ease-in;
  cursor: pointer;
}

.box-hover {
  position: absolute;
}
.box-hover img {
  display: inline-block;
  position: relative;
}
.box-hover img:hover {
  box-shadow: 0 0 50px #7beec7;
  transition: all .2s ease-in;
  transform: scale(1.3);
  z-index: 2;
  cursor: pointer;
}

.four-sec-container {
  padding-bottom: 50px;
  background: #7beec7;
  background-size: cover;
  font-family: 'Montserrat';
  font-weight: 700;
  transition: all .3s ease;
}

.four-sec-lrow {
  padding-top: 50px;
  text-transform: uppercase;
}
.four-sec-lrow .four-sec-lside {
  color: #ffffff;
  font-size: 30px;
  line-height: 2;
}

.four-sec_lbtn {
  padding: 0.5px 31.2px;
  background-color: #ffffff;
  color: #7beec7;
  font-size: 14px;
  line-height: 3.3;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px #ffffff solid;
  outline: none;
}
.four-sec_lbtn:hover {
  background-color: #7beec7;
  border: 1px #ffffff solid;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.four-sec_lbtn:focus {
  border: 1px red solid;
}
.four-sec_lbtn:active {
  color: red;
  border: 1px red solid;
}

.four-sec-rside {
  padding-bottom: 20px;
  background: #fff;
  line-height: 1.5;
}
.four-sec-rside .four_sec_rside_h {
  color: #60606e;
  font-size: 24px;
  line-height: 1.5;
}
.four-sec-rside .four_sec_rside_text {
  font-family: 'OpenSans';
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}

.four-sec-rside-btn {
  font-family: 'Montserrat';
  font-weight: 700;
}
.four-sec-rside-btn input {
  padding: 13.5px 15px;
  width: 67.62%;
  border: 1px #e5e5e5 solid;
  outline: none;
  color: #000;
}
.four-sec-rside-btn input:hover {
  background-color: #ffffff;
  border: 1px #7beec7 solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.four-sec-rside-btn .four-sec-btn {
  background-color: #7beec7;
  padding: 0.5px 46.4px;
  color: #ffffff;
  line-height: 3.4;
  text-transform: uppercase;
  outline: none;
  border: 1px #7beec7 solid;
}
.four-sec-rside-btn .four-sec-btn:hover {
  background-color: #ffffff;
  border: 1px #7beec7 solid;
  color: #7beec7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.four-sec-rside-btn .four-sec-btn:focus {
  border: 1px red solid;
}
.four-sec-rside-btn .four-sec-btn:active {
  color: red;
  border: 1px red solid;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 12px;
  line-height: 4;
  color: #cdcdcd;
  text-transform: uppercase;
}

footer {
  padding-bottom: 30px;
}

.nav {
  float: left;
  padding-top: 30px;
}

.nav > li > a {
  font-family: 'OpenSans';
  color: #9a9a9a;
  text-transform: uppercase;
}
.nav > li > a:hover {
  color: red;
}

.nav-after li:after {
  position: absolute;
  content: '-';
  top: 20%;
  right: -3px;
  z-index: 10;
}

.nav-after li:last-child:after {
  content: '';
}

.footer-rside {
  float: right !important;
  padding-top: 40px;
  text-align: right;
  font-family: 'OpenSans';
  color: #9a9a9a;
  text-transform: uppercase;
}

footer .col-lg-4 {
  padding-right: 0;
}

.social ul {
  text-align: right;
}
.social ul li {
  display: inline-block;
  padding-top: 15px;
  list-style: none;
}
.social ul .last_li {
  padding-right: 0;
}
.social ul a {
  padding: 10px 10px;
  text-decoration: none;
  color: #999999;
  font-size: 18px;
}
.social ul a:hover, .social ul a:focus {
  color: #7beec7;
  transition: all .3s ease;
}
.social ul a:active {
  color: red;
}

@media (max-width: 992px) {
  .sec-text-center {
    padding-top: 30px;
  }

  .row-padding-bottom {
    padding-bottom: 40px;
  }

  .row-padding-top2 {
    padding-top: 50px;
  }

  .padding-top-pic .col-md-4 {
    padding: 10px;
  }

  .back_side {
    width: 87.5%;
  }

  .box-hover img:hover {
    transform: scale(1.2);
  }

  .row-sec3-bg .col-sm-3 {
    width: 20%;
  }

  #carouselExampleIndicators
  .carousel-indicators {
    left: 11%;
  }

  .four-sec-lside p {
    font-size: 26px;
    line-height: 1.5;
  }

  .four_sec_rside_h {
    margin-top: 0;
  }

  .btn-little {
    width: 100%;
  }

  .offset-4 {
    margin-left: 23%;
  }

  .footer-rside {
    float: left !important;
    padding-top: 20px;
  }

  .social {
    margin-right: 5%;
  }
}
@media (max-width: 768px) {
  .first-sec-text {
    padding-top: 65px;
    padding-bottom: 67px;
  }
  .first-sec-text h2 {
    font-size: 28px;
  }

  .first-sec
  .col-md-offset-4 {
    margin-left: 38%;
  }

  .some_h {
    font-size: 24px;
  }

  .two-sec {
    padding-top: 20px;
  }

  .some_p {
    padding: 0;
    font-size: 14px;
  }

  .respon768-padding .some_p {
    padding: 0;
  }

  .three-sec .row-padding-bottom {
    padding: 20px;
  }

  .sec-text-center {
    padding-top: 0;
  }

  .row-sec3-bg .some_text {
    font-size: 14px;
  }

  .padding-top-pic .col-md-4 {
    padding: 5px;
  }

  .back_side {
    width: 84%;
  }
  .back_side h1 {
    font-size: 28px;
  }

  .box-hover img:hover {
    transform: scale(1.1);
  }

  .row-sec3-bg .some_text {
    margin: 30px 0;
  }
  .row-sec3-bg .col-sm-3 {
    padding-top: 40px;
  }

  #carouselExampleIndicators
  .carousel-indicators {
    left: 19%;
  }

  .padding-top-pic {
    padding-top: 25px;
  }

  .four-sec-container {
    padding-bottom: 15px;
  }

  .four-sec-lrow {
    padding-top: 15px;
  }

  .four-sec-lside p {
    font-size: 20px;
  }

  .four-sec-rside
  .four_sec_rside_h {
    font-size: 20px;
  }

  .four_sec_rside_text {
    font-size: 14px;
  }

  .four-sec-rside-btn input {
    width: 100%;
  }

  .four-sec-btn {
    margin-top: 10px;
  }

  .nav > li > a {
    font-size: 13px;
  }

  .offset-4 {
    margin-left: 17%;
  }

  .footer-rside {
    text-align: left;
    font-size: 13px;
    padding-top: 10px;
    margin-left: 0;
  }

  .social {
    margin-right: 2%;
  }
  .social ul li {
    padding-top: 5px;
  }
}
@media (max-width: 480px) {
  .first-sec {
    padding: 0;
  }

  .first-sec
  .col-md-offset-4 {
    margin-left: 32%;
  }

  .first-sec-text {
    padding-top: 45px;
  }
  .first-sec-text h2 {
    font-size: 22px;
  }
  .first-sec-text p {
    line-height: normal;
    font-size: 12px;
  }

  .two-sec {
    padding-top: 0;
  }

  .some_h {
    font-size: 18px;
  }

  .some_p {
    font-size: 14px;
  }

  .some_text {
    line-height: inherit;
    font-size: 12px;
  }

  .sec-text-center {
    padding-top: 0;
  }

  .pic__text {
    padding: 10px 0 0 0;
    text-align: center;
  }
  .pic__text .some_p {
    padding: 0;
  }
  .pic__text .responsive_padding-x480 {
    padding: 13px 0 10px 10px;
  }
  .pic__text .responsive_padding-x480_support {
    padding: 0 10px 0 10px;
  }

  .three-sec .row-padding-bottom {
    padding: 0 0 15px 0;
  }

  .row-padding-top {
    padding-top: 20px;
  }

  .back_side {
    width: 87.5%;
  }

  .box-hover img:hover {
    transform: scale(1);
  }

  .row-margin-top-x480 {
    margin-top: 20px;
  }

  .row-sec3-bg .col-sm-3 {
    width: 30%;
  }

  #carouselExampleIndicators
  .carousel-indicators {
    left: 15%;
  }

  .img_shadow {
    display: none;
  }

  .four-sec-lside {
    padding-top: 100px;
  }

  footer .nav > li > a {
    padding: 10px 9px;
    font-size: 12px;
    text-align: center;
  }

  .nav {
    padding-top: 20px;
    padding-left: 15px !important;
  }

  .offset-4 {
    margin: 0;
  }

  .footer-rside {
    font-size: 12px;
    margin-left: 16%;
  }

  .social {
    margin-right: 20%;
  }
}
